.banner-container {
  background-image: url('https://cdn.pixabay.com/photo/2016/06/24/11/28/glasses-1477081_1280.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 600px;
  color: #0066ff;
  text-shadow: 1px 1px 2px black;
  font-size: 2rem;
  text-align: center;
  padding-top: 40vh;
}


// https://images.pexels.com/photos/1189257/pexels-photo-1189257.jpeg?cs=srgb&dl=person-poring-cocktail-on-clear-drinking-glass-1189257.jpg&fm=jpg